{% load static %}
<header class="sticky top-0 w-full z-50 bg-white/80 dark:bg-slate-900/80 backdrop-blur-md border-b border-emerald-50 dark:border-slate-800 shadow-[0_4px_20px_rgba(0,0,0,0.03)]">
    <div class="flex justify-between items-center h-20 px-8 max-w-[1200px] mx-auto">
        <div class="flex items-center gap-8">
            <a href="{% url 'feed' %}">
                <span class="text-3xl font-extrabold text-emerald-900 dark:text-emerald-100 font-headline-md">Chambitas</span>
            </a>
        </div>
        <div class="flex items-center gap-4">
            <div class="relative w-70">
                <div class="flex items-center bg-primary-container/30 px-4 py-2 rounded-full border border-outline-variant/30">
                    <span class="material-symbols-outlined text-[20px]">search</span>
                    <input id="search-input"
                        class="bg-transparent border-none focus:ring-0 text-sm ml-2 w-full"
                        placeholder="Search..."
                        type="text"
                        value="{{ query }}"/>
                </div>
                <div id="results" class="absolute top-full left-0 w-full bg-white text-black rounded shadow mt-2 z-50"></div>
            </div>
        </div>
    </div>
</header>
